<a href="https://colab.research.google.com/github/fathimabasheerr/Fathima-Basheer/blob/main/19_FathimaBasheer_internal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn

In [3]:
dataset=pd.read_csv("/content/Mall_Customers.csv")

In [4]:
dataset

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [12]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler

In [32]:
scalar.fit(dataset.drop('Spending Score (1-100)',axis=1))

TypeError: ignored

In [33]:
scalar_features=scalar.transform(dataset.drop('Spending Score (1-100)',axis=1))

TypeError: ignored

In [34]:
new_dataset=DataFrame(scalar_features,axis=1)

NameError: ignored

In [ ]:
from sklearn.preprocessing import